.header {
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  border-bottom: 1px solid #F1F1F4;

  div {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      color: #061A37;
      width: 24px;
    }

    p {
      color: #061A37;
      font-family: "Inter", sans-serif;
    }
  }

  .logoContainer {
    display: flex;
    gap: 4px;
    p{
      font-family: "Prompt", sans-serif;
    }
  }
}