.result {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  width: 60%;
  height: 648px;
  border-radius: 12px;
  padding: 16px;
  font-family: "Inter", sans-serif;

  h3 {
    font-weight: 550;
  }

  .result__wrapper {
    display: flex;
    flex-direction: column;

    .result__wrapper_tabs {
      //display: flex;
      //gap: 16px;
      //  border-bottom: 1px solid #F1F1F4;
      //
      //.tab {
      //  color: #1984FF;
      //  border-top: none;
      //  border-right: none;
      //  border-left: none;
      //  border-bottom: 1px solid #1984FF;
      //  padding: 4px 16px;
      //  background: none;
      //  cursor: pointer;
      //}
      display: flex;
      border-bottom: 1px solid #ccc;

      .tab {
        padding: 10px 20px;
        border: none;
        background: none;
        cursor: pointer;
        position: relative;
        transition: all 0.3s ease-in-out;

        &.active {
          color: #1984FF;

          &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #1984FF;
          }
        }
      }
    }


      .divider {
        border-bottom: 1px solid #F1F1F4;
        margin: 12px 0;
      }

      .result__wrapper_totalIncome {
        display: flex;
        flex-direction: column;

        .result__wrapper_totalIncome_heading {
          margin-bottom: 8px;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 36px;
        }
      }

      .result__wrapper_totalDeductions {
        display: flex;
        flex-direction: column;

        .result__wrapper_totalDeductions_heading {
          margin-bottom: 8px;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 36px;
        }
      }

      .result__wrapper_netPay {
        display: flex;
        flex-direction: column;

        .result__wrapper_netPay_heading {
          margin-bottom: 8px;
        }

        div:first-child {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 24px;
          margin: 0;
        }

        .result__wrapper_netPay_taxes {
          div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 36px;
          }
        }
      }


  }
}